MONGO_URI=url

PORT=8000
CORS_ORIGIN=*

# ("https://example.com, https://another.com")
ACCESS_TOKEN_SECRET=your credentials
ACCESS_TOKEN_EXPIRY=

REFRESH_TOKEN_SECRET=your credentials
REFRESH_TOKEN_EXPIRY=

MAILTRAP_SMTP_HOST=your credentials
MAILTRAP_SMTP_PORT=your credentials
MAILTRAP_SMTP_USER=your credentials
MAILTRAP_SMTP_PASS=your credentials
